{% extends "layout.html" %}

{% block content %}

<div class="container box">
    <div class="row">
        <div class="col-md-12">
            <h2>Dinuc frq table</h2>
            <br />
        </div>
    </div>

    <h3>Sequence from GeneBank</h3>
    <h4>{{gbrecord_description}}</h4>
    <p style="font-family: 'Courier New'; font-size: 16px">
        {% for item in gbrecord_seq %}
        {{item}}
        {% endfor %}
    </p>
</div>
<br />
{% include "dinuctable.html" %}

{% endblock content%}
