{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Dinuc Calculation</h1>
    <p class="lead">Dinucleotides frequency calculation in two frames</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-color btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Input sequence</h2>
        <p>
            Input sequence to calculate dinucleotide frequencies in two dinucleotide frames.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Random sequence</h2>
        <p>
            Generate and calculate random sequence.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Input sequence from list</h2>
        <p>Input sequence from preloaded list.</p>
    </div>
    <div class="col-md-3">
        <h2>Input sequence from GenBank</h2>
        <p>Input sequenc from GenBank using identification code.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form action="{{url_for('seqinput')}}" method="get">
            <input type="submit" class="btn btn-color btn-large" value="Input seq &raquo">
        </form>
    </div>
    <div class="col-md-3">
        <form action="{{url_for('seqrandom')}}" method="get">
            <input type="submit" class="btn btn-color btn-large" value="Input seq &raquo">
        </form>
    </div>
    <div class="col-md-3">
        <form action="{{url_for('seqinputlist')}}" method="get">
            <input type="submit" class="btn btn-color btn-large" value="Input from list &raquo">
        </form>
    </div>
    <div class="col-md-3">
        <form action="{{url_for('seqinputgb')}}" method="get">
            <input type="submit" class="btn btn-color btn-large" value="Input from GB &raquo">
        </form>
    </div>
</div>

{% endblock content %}
