{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>List of sequences</h2>
            <br />
        </div>
    </div>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq1</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq1}}</p>
                <input type="hidden" name="seq" value="{{seq1}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq2</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq2}}</p>
                <input type="hidden" name="seq" value="{{seq2}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq3</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq3}}</p>
                <input type="hidden" name="seq" value="{{seq3}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq4</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq4}}</p>
                <input type="hidden" name="seq" value="{{seq4}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq5</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq5}}</p>
                <input type="hidden" name="seq" value="{{seq5}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq6</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq6}}</p>
                <input type="hidden" name="seq" value="{{seq6}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>

    <form action="{{ url_for('seqlistcalc') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <p class="paragraph">Seq7</p>
            </div>
            <div class="col-md-6">
                <p class="box">{{seq7}}</p>
                <input type="hidden" name="seq" value="{{seq7}}" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-color btn-large" value="Calculate" />
                <a href="about">About</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}