{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sequence from GenBank</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <form action="{{ url_for('seqgbsearch')}}" method='post'>
            <label>Search for id in GenBank: </label>
            <input type="search" name="gbsearch" />
            <input type="submit" value="Search" />
        </form>
    </div>
</div>

{% endblock %}

