{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sequence from GenBank</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <form action="{{ url_for('seqgbsearch')}}" method='post'>
            <label>Search seq in GeneBank by id: </label>
            <input type="search" name="gbsearchid" placeholder="NC_04528, 120289, etc."/>
            <input type="submit" value="Search" />
            <br /><br />
            <label> Searech seq in GeneBank by term: </label>
            <input type="search" name="gbsearcterm" placeholder="Escherichia coli, etc." />
            <input type="submit" value="Search" />
         </form>
    </div>
</div>

{% endblock %}

